@import "/fonts/font-face.css";

html,
body {
  width: 240px;
  overflow: clip;
  padding: 0;
  margin: 0;
  background: linear-gradient(153.37deg, #99241a 10%, #5d0b04 50%, white 90%);
  font-size: 16px;
  font-style: normal;
  font-family: "Lato", Arial, sans-serif;
}

a {
  text-decoration: none;
  text-align: center;
  border: 1px solid #c6c6c6;
  border-radius: 6px;
  padding: 9px;
  line-height: 20px;
  min-width: 160px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

a span {
  max-width: 115px;
}

.smokey {
  color: #c6c6c6;
  background: #f4f4f4;
  text-align: center;
  border: 1px solid #c6c6c6;
  border-radius: 6px;
  padding: 9px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.smokey span {
  max-width: 115px;
}

#pause {
  background: #75140c;
  color: white;
}

#resume {
  background: #75140c;
  color: white;
}

#clear {
  color: white;
  background: #10b501;
  border: #0c9300;
}

#nothing {
  text-align: center;
}

.info {
  line-height: 15px;
  gap: 6px;
}

.action {
  flex-grow: 1;
}

.site {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 9px 0;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.site a {
  color: black;
}

.simple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin-top: 1em;
  background: #c6c6c6;
}

header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

p {
  padding: 0 1em;
  font-size: 14px;
}

section {
  background: white;
  margin: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.too-high {
  padding-top: 2px;
}
